<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
    <!-- 
        *ngFor ->   é a forma de percorrer uma lista. 
                    <li> é o elemento hospedeiro.
                    heroes é nosso mock.
                    hero é o item atual da lista.

        (click) ->  responsável por escutar os eventos de click na <li>
                    e executar a função onSelect(hero).
    
        [class.selected] -> sintaxe para class binding, onde permite adicionar e remover
                            classes de acordo com uma condição.
        -->
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
    </li>
</ul>